* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
}

*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --bg-color: #E1D5C5;
    --view-height: calc(100vw * 1.4);
    /* --grid-size: calc(var(--view-height) * 0.66); */
    --grid-size: 95vw;
    --size-01: 8;
    --size-02: 12;
    --size-03: 16;
    --size-04: 32;
}

body {
    background-color: var(--bg-color);
    width: 100vw;
    height: var(--view-height);
    overflow-x: hidden;
}

#imgs-grid {
    border: 1px solid red;
    height: var(--grid-size);
    width: var(--grid-size);
    display: grid;
    grid-template-columns: repeat(120, 1fr);
    grid-template-rows: repeat(120, 1fr);
}

.size-01 {
    grid-column: span var(--size-01);
}

.size-02 {
    grid-column: span var(--size-02);
}

.size-03 {
    grid-column: span var(--size-03);
}

.size-04 {
    grid-column: span var(--size-04);
}